<h1>About Git Vital</h1>

<h2>What is Git Vital</h2>
<p>
    Git Vital is a repository analyser using a classifier trained from over 90,000 
    randomly selected repositories on <a href="http://github.com" target="_blank">Github.com</a>.
    The classifiers are built using Weka with the PART algorithm after comparing other classifiers and their performance.
</p>

<h2>How does Git Vital work?</h2>
<p>
    Git Vital mines the Github API for information on a repository and sends it to a classifier server to be processed.
    It compares various parameters such as the number of contributors to the size of the repository.
</p>